fastapi
uvicorn
python-multipart
openai
google-genai
anthropic
PyPDF2
PyMuPDF
openpyxl
pandas
sqlalchemy
tiktoken
ollama
python-jose[cryptography]
argon2-cffi
celery
redis
minio
pydantic
pydantic_settings
requests
typer
